---
layout: bootcamp
root: .
venue: AMOS conference
address: Institute for Marine and Antarctic Studies, <a href="http://www.utas.edu.au/commercial-services-development/building-works/current-projects/institute-for-marine-and-antarctic-studies-imas">Castray Esplanade, Battery Point</a>
country: Australia
humandate: Feb 10-11, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-02-10
enddate: 2014-02-11
latlng: -42.8806,147.3250
registration: restricted
instructor: ["Damien Irving",]
contact: d.irving@student.unimelb.edu.au
---

{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/registration.html %}
{% include bootcamps/contact.html %}

<hr/>

<p><a id="topics" name="topics"></a></p>
<h2>Topics</h2>

{% include bootcamps/lesson_plan.html %}

<hr/>

<p><a id="setup" name="setup"></a></p>
<h2>Setup</h2>

<p>
  Please follow the installation instructions for your operating system
  (i.e. Windows, Mac OS X or Linux). It is expected that participants
  will have successfully installed all the required packages prior to
  arriving at the bootcamp. If you are having trouble with any of the
  installations, please contact us at the email address listed above.
</pr>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %}
    {% include setup/overview-git.html %}
    {% include setup/windows-git.html %}
    {% include setup/macosx-git.html %}
    {% include setup/linux-git.html %}
  </div>
  <div class="span6">
    {% include setup/overview-python.html %}
    {% include setup/windows-anaconda.html %}
    {% include setup/macosx-python.html %}
    {% include setup/linux-python.html %}
  </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
