---
layout: bootcamp
root: .
venue: AMOS conference
address: Institute for Marine and Antarctic Studies, Hobart
country: Australia
humandate: February 10-11, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-02-10
enddate: 2014-02-11
latlng: -42.8806,147.3250
registration: restricted
instructor: ["Damien Irving", "Scott Wales", "Paola Petrelli"]
contact: d.irving@student.unimelb.edu.au
---

{% include bootcamps/instructors.html %}
{% include bootcamps/what.html %}
{% include bootcamps/who.html %}
{% include bootcamps/requirements.html %}
{% include bootcamps/registration.html %}
{% include bootcamps/contact.html %}

<hr/>

<h2>Setup</h2>

<p>
  Please follow the installation instructions for your operating system
  (i.e. Windows, Mac OS X or Linux). It is expected that all participants
  will have successfully installed all the required packages prior to
  arriving at the bootcamp. If you are having trouble with any of the
  installations, please contact us at email address listed above.
</pr>

<div class="row-fluid">
  <div class="span6">
    {% include setup/overview-bash.html %}
    {% include setup/windows-bash.html %}
    {% include setup/macosx-bash.html %}
    {% include setup/linux-bash.html %}
    {% include setup/overview-editor.html %}
    {% include setup/windows-editor.html %}
    {% include setup/macosx-editor.html %}
    {% include setup/linux-editor.html %}
    {% include setup/overview-git.html %}
    {% include setup/windows-git.html %}
    {% include setup/macosx-git.html %}
    {% include setup/linux-git.html %}
  </div>
  <div class="span6">
    {% include setup/overview-python.html %}
    {% include setup/windows-anaconda.html %}
    {% include setup/macosx-python.html %}
    {% include setup/linux-python.html %}
  </div>
</div>

<hr/>

<h2>Topics</h2>

<div class="row-fluid">
  <div class="span6">
    <h3><a href="lessons/swc-shell/tutorial.html">The Unix Shell</a></h3>
    <ul>
      <li>{% include guide-shell/intro/title.md %}</li>
      <li>{% include guide-shell/filedir/title.md %}</li>
      <li>{% include guide-shell/create/title.md %}</li>
      <li>{% include guide-shell/pipefilter/title.md %}</li>
      <li>{% include guide-shell/loop/title.md %}</li>
      <li>{% include guide-shell/scripts/title.md %}</li>
      <li>{% include guide-shell/find/title.md %}</li>
    </ul>
  </div>
  <div class="span6">
    <h3><a href="lessons/swc-db/tutorial.html">Databases</a></h3>
    <ul>
      <li>{% include guide-db/select/title.md %}</li>
      <li>{% include guide-db/distinct/title.md %}</li>
      <li>{% include guide-db/filter/title.md %}</li>
      <li>{% include guide-db/calc/title.md %}</li>
      <li>{% include guide-db/sort/title.md %}</li>
      <li>{% include guide-db/null/title.md %}</li>
      <li>{% include guide-db/aggregate/title.md %}</li>
      <li>{% include guide-db/grouping/title.md %}</li>
      <li>{% include guide-db/join/title.md %}</li>
      <li>{% include guide-db/create/title.md %}</li>
      <li>{% include guide-db/transactions/title.md %}</li>
      <li>{% include guide-db/programming/title.md %}</li>
    </ul>
  </div>
</div>

<hr/>

<h2>Reference Guides</h2>

<ul>
  <li><a href="{{page.root}}/lessons/ref/shell.html">The Unix Shell</a></li>
  <li><a href="{{page.root}}/lessons/ref/python.html">Python</a></li>
</ul>
