<p>
  The following is a draft outline of what will be covered at the bootcamp, however the 
  syllabus may change slightly depending on the baseline knowledge of the attendees.
</p>

<p>
  <strong>Monday morning: The basics</strong><br />
  <em>Instructor: Damien Irving</em><br />
  The key to being a proficient programmer is solid fundamentals. In this session 
  you'll learn the basics of the unix shell and the Python programming language.
  <br /><br />

  <strong>Monday afternoon: Programming like a programmer</strong><br />
  <em>Instructor: Damien Irving</em><br />
  Have you ever wondered how professional programmers write code? In this session 
  you'll learn the common tricks of the trade, from defensive programming, error 
  handling and debugging, to unit testing and test-driven development.
  <br /><br />

  <strong>Tuesday morning: Version control</strong><br />
  <em>Instructor: Scott Wales</em><br />
  Do you work in a small research team that shares code? Do you struggle to keep 
  track of multiple versions of the same code? Would you like an easier way to backup 
  your work? This session will teach you everything you need to know about git, 
  a version control system that can solve all these problems and more.
  <br /><br />

  <strong>Tuesday afternoon: Data management & number crunching</strong><br />
  <em>Instructors: Paola Petrelli and Damien Irving</em><br />
  Observational networks and numerical models are continually improving their temporal
  and spatial resolution, which means AMOS scientists are forever dealing with more and 
  more data. This session will cover the core metadata and data provenance principles 
  that should be adhered to in all data intensive research, in addition to an introduction 
  to fundamental numerical programming concepts like matrix programming and floating 
  point arithmetic.  
</p>
