<p>
  The following is an outline of what will be covered at the bootcamp. For a detailed
  schedule of the timing of each session (i.e. what time morning tea and lunch will be, etc)
  see the <a href="https://etherpad.mozilla.org/2014-02-10-hobart">Etherpad</a> that has been 
  setup for communications during the bootcamp.
</p>

<p>
  <strong>Pre-bootcamp homework: Shell basics</strong><br />
  Most bootcamps start with an introduction to the shell, however the survey responses
  indicate that many of the Hobart attendees already understand the basics. As such, 
  all participants should read over the 
  <a href="https://github.com/DamienIrving/teaching/tree/master/swc-shell">summary of the 
  shell teaching material</a> prior to the bootcamp. If the contents of any of the six 
  sections of that summary don't look familiar, take a few minutes to read the 
  corresponding lesson (indicated in brackets) and bring yourself up to speed, as the 
  shell lessons won't be covered at the Hobart bootcamp. 
  <br /><br />
  
  <strong>Monday (Feb 10) morning: Python basics</strong><br />
  The key to being a proficient programmer is solid fundamentals. In this session 
  you'll learn the basics of the Python programming language, including how to import 
  libraries/modules, perform simple array operations, create basic plots, and define 
  proper functions.   
  <br /><br />

  <strong>Monday (Feb 10) afternoon: Programming like a programmer</strong><br />
  Have you ever wondered how professional programmers write code? In this session 
  you'll learn the common tricks of the trade, from defensive programming, error 
  handling and debugging, to unit testing and the development of command line programs.
  <br /><br />

  <strong>Tuesday (Feb 11) morning: Version control</strong><br />
  Do you work in a small research team that shares code? Do you struggle to keep 
  track of multiple versions of the same code? Would you like an easier way to backup 
  your work? This session will teach you everything you need to know about git, 
  a version control system that can solve all these problems and more.
  <br /><br />

  <strong>Tuesday (Feb 11) afternoon: Data management & number crunching</strong><br />
  Observational networks and numerical models are continually improving their temporal
  and spatial resolution, which means AMOS scientists are forever dealing with more and 
  more data. This session will cover the core metadata and data provenance principles 
  that should be adhered to in all data intensive research, in addition to an introduction 
  to fundamental numerical programming concepts like matrix programming and floating 
  point arithmetic. A guest presenter from the <a href="http://imos.org.au/">IMOS</a> 
  eMarine Information Infrastructure will also drop by to talk about how they manage their
  data, and how you can use your new skills in the shell, Python and version control to 
  access it. 
</p>
