<p>
  <strong>Registration:</strong>
    Participants can register at the <a href="http://www.amos2014.org.au/register.html">AMOS conference 
    website</a> at the same time as registering for the conference itself ($120.00 for full fee and 
    $90.00 for students). At the registration site it is possible to register for the bootcamp but not the conference,
    however just note that this event is only open to people working in the AMOS sciences. Registrations 
    for the bootcamp will close on 31 December 2013 or when the venue capacity (50 people) has been 
    reached, whichever comes first. Note that it is not anticipated that people who attended the 
    AMOS/CoECSS bootcamp at the University of Melbourne in February 2013 will also attend this one, as 
    the teaching content will be very similar.
</p>
  
