<p>
  <strong>Requirements:</strong>
  Participants are asked to bring their laptop with some specific 
  software packages installed (the Bash Shell, a text editor, Git, 
  and Python/Anaconda; set Setup instructions below). If you don't have a laptop, 
  that's completely fine. We'll pair you up with someone who does.
</p>
<p>
  Participants are also asked to fill out a 
  [short questionnaire](https://docs.google.com/forms/d/1hIT1-pVR160fN9VQ6v9dEweL5Z-ndsqL9JZMQQhe24s/viewform) 
  about their previous programming experience. The responses will be used to tailor the 
  teaching material to the knowledge base of the audience.
</p>