<p>
  <strong>What:</strong>
  The mission of the Software Carpentry project is to help scientists be 
  more productive by teaching them basic computing skills. Scientists 
  often spend much of their time wrestling with software, but most are 
  self-taught programmers. As a result, they spend hours doing things that 
  should take minutes, reinvent a lot of wheels, and still don't know if 
  their results are reliable. To tackle this problem, Software Carpentry 
  runs two-day bootcamps at dozens of sites around the world. For example, 
  the National Center for Atmospheric Research, MIT, and Woods Hole 
  Oceanographic Institute all hosted bootcamps in 2013. To coincide 
  with the <a href="http://www.amos.org.au/">Australian Meteorological and 
  Oceanographic Society</a> (AMOS) national conference, AMOS and the 
  <a href="http://www.climatescience.org.au/">ARC Centre of Excellence for 
  Climate System Science</a> (CoECSS) are proud to be teaming up to bring the first 
  ever bootcamp to Hobart.   
</p>
